:root{
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #fff;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}
/* Стилізація хедера */
.header-section{
    border: 1px solid #ECECEC;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    display: block;
    color: #000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
span{
    color: var(--accent-color);
}
.illumination-btn{
    background-color: var(--accent-color);
    color: #fff;
}
.nav-link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.illumination{
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.nav-contacts{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-contacts:hover,
.nav-contacts:focus{
    color: var(--accent-color);
}
/* Стилізація головного контенту сторінки */
.main{
    background-color: #2F303A;
    color: #FFFFFF;
}
.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
button{
    font-family: inherit;
    cursor: pointer;
}
.main-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    border:none;
}
.main-button:hover,
.main-button:focus{
    background-color:  #267bc6;
}
.main-button:active{
    background-color: #27619b;
}
.portfolio-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border:none;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background-color: var(--accent-color);
    color: #fff;
}
.portfolio-button:active{
    background-color: #267bc6;
}
.visually-hidden{ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}
.benefits-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits-text{
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
}
.title{    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team{
    background: #F5F4FA;
}
.team-member-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-member-position{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-card{
    width: 270px;
    height: 368px;
    background-color: var(--primary-bg-color); 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.portfolio-card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;    
    letter-spacing: 0.06em;
}
.portfolio-name-industry{ 
    color: var(--primary-text-color);   
    font-size: 16px;
    line-height: 1.88;
}
.portfolio-card{
    width: 370px;
    height: 404px;    
    border: 1px solid #EEEEEE;
}
.footer-section{
    background: #2F303A;
}
.footer-section .logo{
    color:#fff;
}
address{
    font-style: normal;
}
.footer-link{
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.footer-contacts{
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-color);
}
    


